.background {
    background-image: url(img/fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 767px;
    position: relative;
}
.page{
    width: 1200px;
    margin: auto;
  }
.logo{
    left: 30px;
    top: 15px;
    position: absolute;
    cursor: pointer;
  }
.link{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial;
    display: inline-block;
}
.liup{
    display: inline;
    margin: 55px;
    text-decoration: none;
  }
.link:hover {
    color: white;
    font-size: 18px;
    font-family: Arial;
  }
ul{
    position: absolute;
    top: 37px;
    left: 450px;
  }
.lozyng{
    text-align: center;
    position: absolute;
    font-size: 58px;
    font-family: Arial;
    font-weight: normal;
    top: 260px;
    left: 110px;
    color: white;
  }
.redbutton{
    width: 100%;
    position: absolute;
    top: 515px;
    left: 400px;
    border-width: 0px;
    color: white;
    text-decoration: none;
    font-size: 58px;
    font-family: Arial;
    font-weight: normal;
  }
.redbuttonback{
    background-color: rgb(153, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 150px;
    border-radius: 2em;
    cursor: pointer;
    overflow: hidden;
    border: none;
    padding: 1rem 2rem;
    position: relative;
    border-width: 0px;
}
.redbuttonback::before{
  --size: 0;

  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-90%, -50%);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, blue, transparent);
  transition: 0.3ms;
}
.redbuttonback:hover::before{
  --size: 300px;
}
span{
  position: relative;
  pointer-events: none;
}
.poch {
    background-color: white;
    background-repeat: no-repeat;
    height: 450px;
    background-size: cover;
    position: relative;
}
.pochzagl{
    font-size: 58px;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
}
.icon1{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 150px;
    top: 150px;
  }
  
.icon2{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 570px;
    top: 150px;
  }

.icon3{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 1000px;
    top: 150px;
  }
  
.headicon1{
    position: absolute;
    font-size: 18px;
    font-family: Arial;
    font-weight: normal;
    top: 250px;
    left: 115px;
    text-align: center;
  }
.headicon2{
    position: absolute;
    font-size: 18px;
    font-family: Arial;
    font-weight: normal;
    top: 250px;
    left: 490px;
    text-align: center;
  }
.headicon3{
    position: absolute;
    font-size: 18px;
    font-family: Arial;
    font-weight: normal;
    top: 250px;
    left: 960px;
    text-align: center;
  }
.chem {
    background-color: white;
    background-repeat: no-repeat;
    height: 450px;
    background-size: cover;
    position: relative;
}
.chemzagl{
    font-size: 58px;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
}
.icon4{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 140px;
    top: 150px;
  }
  
.icon5{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 555px;
    top: 150px;
  }

.icon6{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 985px;
    top: 150px;
  }
  
.headicon4{
    position: absolute;
    font-size: 40px;
    font-family: Arial;
    font-weight: normal;
    top: 280px;
    left: 110px;
    text-align: center;
  }
.headicon5{
    position: absolute;
    font-size: 40px;
    font-family: Arial;
    font-weight: normal;
    top: 280px;
    left: 510px;
    text-align: center;
  }
.headicon6{
    position: absolute;
    font-size: 40px;
    font-family: Arial;
    font-weight: normal;
    top: 280px;
    left: 935px;
    text-align: center;
  }
.texticon4{
  text-align: center;
  position: absolute;
  font-size: 18px;
  font-family: Arial;
  font-weight: normal;
  top: 340px;
  left: 110px
}
.texticon5{
  text-align: center;
  position: absolute;
  font-size: 18px;
  font-family: Arial;
  font-weight: normal;
  top: 340px;
  left: 510px
}
.texticon6{
  text-align: center;
  position: absolute;
  font-size: 18px;
  font-family: Arial;
  font-weight: normal;
  top: 340px;
  left: 950px
}
.background2 {
  background-image: url(img/fon2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
  position: relative;
}
.logo2{
  left: 955px;
  top: 40px;
  position: absolute;
}
.headsvyaz{
  position: absolute;
  font-size: 30px;
  color: white;
  font-family: Arial;
  font-weight: normal;
  top: 15px;
  left: 110px;
  text-align: center;
}
.textsvyaz{
  position: absolute;
  font-size: 25px;
  color: white;
  font-family: Arial;
  font-weight: normal;
  top: 55px;
  left: 120px;
  text-align: center;
  line-height: 1.5;
}
.headofice{
  position: absolute;
  font-size: 30px;
  color: white;
  font-family: Arial;
  font-weight: normal;
  top: 15px;
  left: 610px;
  text-align: center;
}
.textofice{
  position: absolute;
  font-size: 25px;
  color: white;
  font-family: Arial;
  font-weight: normal;
  top: 55px;
  left: 480px;
  text-align: center;
  line-height: 1.5;
}
.fred:first-letter {
  color: red;
  }
.background3 {
  background-image: url(img/fon3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
}
.komp{
  text-align: center;
  position: absolute;
  font-size: 40px;
  font-family: Arial;
  font-weight: bold;
  top: 350px;
  left: 50px;
  color: white;
}
.komptext{
  text-align: center;
  position: absolute;
  font-size: 30px;
  font-family: Arial;
  font-weight: normal;
  top: 400px;
  left: 50px;
  color: white;
}
.okomp{
  text-align: center;
  position: absolute;
  font-size: 40px;
  font-family: Arial;
  font-weight: bold;
  top: 25px;
  left: 50px;
}
.osntext {
  background-color: white;
  background-repeat: no-repeat;
  height: 450px;
  background-size: cover;
  position: relative;
}
.okomptext{
  text-align: left;
  position: absolute;
  font-size: 17px;
  font-family: Arial;
  font-weight: normal;
  top: 70px;
  left: 50px;
  line-height: 2em;
}
.kontakt {
  background-color: white;
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  position: relative;
}
.kontinf{
  text-align: center;
  position: absolute;
  font-size: 40px;
  font-family: Arial;
  font-weight: bold;
  left: 50px;
}
.konttext{
  text-align: left;
  position: absolute;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  left: 50px;
  top: 70px;
  line-height: 2.5em;
}
.background4 {
  background-image: url(img/fon4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
}
.vybor{
  text-align: center;
  position: absolute;
  font-size: 58px;
  font-family: Arial;
  font-weight: normal;
  top: 260px;
  left: 160px;
  color: white;
}
.flat{
  text-align: left;
  position: absolute;
  font-size: 40px;
  font-family: Arial;
  font-weight: normal;
  color: rgb(0, 0, 0);
  left: 450px;
  text-align: left;
}
.nedvig {
  background-color: white;
  background-repeat: no-repeat;
  height: 1200px;
  background-size: cover;
  position: relative;
  width: 100%;
}
 .tss{ 
  text-decoration: none;
 }
 .buttonz {
  margin-top: 150px;
  text-align: center;
  position: relative;
  right: 450px;
 }
 .buttonz a{
  font-family: Arial;
  background-color: rgb(153, 0, 0);
  padding: 40px 70px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: normal;
 }
 .pop_up{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0 .8);
  z-index: 2;
  transform: translateY(-44.5%) scale(0);
  transition: .4s ease-in-out;
 }
 .pop_up.active{
  transform: translateY(0%) scale(100%);
 }
 .pop_up_container{
  display: flex;
  width: 100%;
  height: 100%;
 }
 .pop_up_body{
  margin: auto;
  width: 500px;
  background-color: whitesmoke;
  border-radius: 10px;
  text-align: center;
  padding: 100px 15px 110px 15px;
  position: relative;
 }
 .pop_up_body p {
  font-size: 28px;
  font-family: Arial;
  font-weight: normal;
  color: black;
  margin-bottom: 40px;
 }
 .pop_up_body input {
  display: block;
  margin: 25px auto 0px auto;
  width: 330px;
  padding: 17px 20px;
  background-color: white;
  border-radius: 10px;
  border: none;
  font-family: Arial;
  font-weight: normal;
  font-size: 18px;
  color: grey;
 }
 .pop_up_body button{
  cursor: pointer;
  display: block;
  width: 330px;
  margin: 60px auto 0px auto;
  padding: 20px 0px;
  font-family: arial;
  font-weight: normal;
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: rgb(153, 0, 0);
 }
 .pop_up_close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 21px;
  cursor: pointer;
 }
 .background5 {
  background-image: url(img/fon2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 150px;
  position: relative;
  top: 100px;
  right: 450px;
}
